.root {
    -fx-background-color: pink;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#label {
    -fx-font: 3em "Impact";
}

#select_difficulty {
    -fx-font: 1.25em "Trebuchet MS";
}

.diff {
    -fx-font-family: "Arial Black";
}

.gridButton {
    -fx-background-radius: 0;
    -fx-color: white;
}